@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.App {
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  padding: 0 10px;
}

.date-button {
  margin-left: 10px;
}

.spinner {
  text-align: center;
}

.card-img {
  max-width: 80%;
  cursor: pointer;
}

.modal-body {
  display: flex;
  justify-content: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
